main {
    margin-top: 50px;
}

/* Hero */
.hero {
    margin: 0;
    background-color: #B4D0E7;
} 

.hero .medium-container {
    position: relative;
    bottom: -60px;
}

.hero .col.fl-left {
    width: 40%;
    padding-right: 40px;
}

.hero .col.fl-right {
    width: 60%;
}

.hero .row {
    margin-top: 40px;
}

.hero .col.fl-right img {
    width: 100%;
    height: 100%;
}

.hero .call-to-action {
    margin: 20px 0;
}

.hero .call-to-action .annulla {
    margin-top: 10px;
    margin-bottom: 30px;
}

.hero .call-to-action .annulla a {
    color: #000;
}

.hero .call-to-action .fas {
    font-size: 3em;
}
/* /Hero */

/* Plans */
.plans {
    margin-top: 180px;
}

.plans .choise {
    margin: 40px 0;
}

.plans .choise label {
    margin-right: 10px;
}

.plans .row > .col {
    margin-right: 40px;
    margin-bottom: 40px;
    width: calc(100% / 3 - 40px);
}

.plans .row > .col.full-size {
    width: calc(100% - 40px);
}

.plans .row > .col.full-size .middle .row > .col {
    margin: 0;
    width: calc(100% / 2);
}

.plans .top {
    border: 1px solid grey;
    border-bottom: 0px;
    text-align: center;
    padding: 10px;
}

.plans .middle {
    position: relative;
    border: 1px solid grey;
    padding: 20px;
    min-height: 800px;
}

.plans .row > .col.full-size .middle {
    min-height: auto;
}

.plans .middle .price {
    margin: 20px 0;
}

.plans .middle .price .cost {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 1.1em;
}

.plans .middle .price .per {
    color: gray;
}

.plans .middle .info {
    margin-top: 40px;
}

.plans .middle .contact {
    text-align: right;
}

.plans .middle .limits li {
    display: block;
    margin-top: 10px;
}

.plans .middle .limits .icon,
.plans .middle .limits .text {
    float: left;
}

.plans .middle .limits .icon {
    margin-right: 5px;
}

.plans .middle .limits .text {
    width: calc(90% - 5px);
}

.plans .middle .try-30-days {
    margin: 20px 0;
}

.plans .middle .try-30-days .button {
    text-align: center;
}
.plans .middle .try-30-days .button a {
    display: block;
}

.plans .middle .try-30-days .text {
    margin: 20px 0;
}

.plans .middle .try-30-days .text a {
    text-decoration: underline;
}

.plans .middle .try-30-days .separator {
    margin: 20px 0;
}

.plans .middle .features {
    margin: 40px 0;
}
.plans .middle .features .list {
    margin: 20px 0;
}

.plans .middle .features .list li {
    display: block;
    margin-top: 10px;
}

.plans .middle .features .list .icon,
.plans .middle .features .list .text {
    float: left;
}

.plans .middle .features .list .icon {
    margin-right: 5px;
    color: #0061FF;
}

.plans .middle .features .list .text {
    width: calc(90% - 5px);
}
/* /Plans */

/* Partner */
.partner .col {
    margin-right: 40px;
    width: calc(100% / 2 - 40px);
}

.partner .banner img {
    width: 100%;
}

.partner .content {
    padding-top: 40px;
}

.partner .content p {
    margin: 20px 0;
    line-height: 2em;
}
/* /Partner */

/* Ventaglio */
.dropbox-business {
    margin: 80px 0;
}

.dropbox-business .row {
    margin: 40px 0;
}

.dropbox-business .col {
    margin-right: 40px;
    margin-bottom: 40px;
    width: calc(100% / 3 - 40px);
}

.dropbox-business .item .banner img {
    width: 100%;
}

.dropbox-business .item .text {
    margin: 20px 0;
}
/* /Ventaglio */

/* Clienti */
.clienti .title {
    margin-bottom: 20px;
}
/* /Clienti */

/* Brands */

.brands {
    margin-bottom: 0;
}
.brands .content {
    position: relative;
    padding: 40px;
}

.brands .content .logo {
    width: 30%;
}

.brands .content .logo img {
    width: 100%;
}

.brands .content .separator {
    margin: 20px 0 40px 0;
}

.brands .content .text p {
    margin-bottom: 40px;
}

.brands > .full-container > .row {
    height: calc(100vw / 3);
    min-height: calc(1024px / 3);
    max-height: calc(1920px / 3);
    background-color: #F5F5F5;
}
.brands > .full-container > .row > .col  {
    width: calc(100% / 3);
}

.brands > .full-container > .row > .col > .row {
    height: calc((100vw / 3) / 2);
    min-height: calc((1024px / 3) / 2);
    max-height: calc((1920px / 3) / 2);
}

.brands > .full-container > .row > .col > .row > .col  {
    position: relative;
    width: calc(100% / 2);
}

.brands > .full-container > .row > .col > .row > .col > .item {
    position: absolute;
    width: 100%;
    height: 100%;
}

.brands > .full-container > .row > .col > .row > .col > .item:hover {
    border: 8px solid rgba(255,255,255,0.5);
}

.brands > .full-container > .row > .col > .row > .col > .item img {
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#designit {
    background-color: #A2D39B;
}

#arizona_state_university {
    background-color: #61082B;
}

#university_of_florida {
    background-color: #0093CE;
}

#topps {
    background-color: #FF1C1C;
}

#world_bicycle_relief {
    background-color: #D5001F;
}

#hearst_corp {
    background-color: #B4D0E7;
}

#lonely_planet {
    background-color: #0D2481;
}

#clear_channel {
    background-color: #FFD830;
}
/* /Brands */

/* Azienda */
.azienda {
    margin-top: 0;
    background-color: #B4D0E7;
    padding: 80px 0;
}

.azienda .col {
    width: calc(100% / 2);
}

.azienda .title {
    color: #61082B;
}

.azienda .call-to-action {
    text-align: center;
}
.azienda .btn {
    border: 0px;
}
/* /Azienda */

/* FAQ   */
.faq .content {
    margin: 40px 0;
    font-weight: bold;
}
.faq .content ul,
.faq .content li {
    display: block;
}

.faq .content li {
    border-bottom: 2px solid lightgrey;
    padding: 30px 0;
    padding-right: 20px;
}

.faq .content li:first-child {
    border-top: 2px solid lightgrey;
}

.faq .content li:hover .solution {
    height: 80px;
}

.faq .content .text {
    float: left;
}

.faq .content .solution {
    position: relative;
    float: left;
    height: 0;
    top: 50%;
    transform: translate(0,50%);
    transition: 0.3s;
    overflow: hidden;
}

.faq .content .icon {
    float: right;
}
/* /FAQ   */