main {
    margin-top: 50px;
}

/* Hero */
.hero {
    background-color: #B4D0E7;
} 

.hero .medium-container {
    position: relative;
    bottom: -60px;
}

.hero .col.fl-left {
    width: 40%;
    padding-right: 40px;
}

.hero .col.fl-right {
    width: 60%;
}

.hero .row {
    margin-top: 40px;
}

.hero .col.fl-right img {
    width: 100%;
    height: 100%;
}

.hero .call-to-action {
    margin: 20px 0;
}

.hero .call-to-action .annulla {
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: 30px;
}

.hero .call-to-action .fas {
    font-size: 3em;
}
/* /Hero */

/* Plans */
.plans .small-container {
    margin-top: 180px;
}

.plans .choise {
    margin: 40px 0;
}

.plans .choise label {
    margin-right: 10px;
}

.plans .row {
    position: relative;
    left: -20px;
}

.plans .col {
    width: calc(100% / 3);
}

.plans .col.full-size {
    width: 100%;
}

.card {
    margin: 20px;
}

.plans .card .top {
    border: 1px solid grey;
    border-bottom: 0px;
    text-align: center;
    padding: 10px;
}

.plans .card .middle {
    position: relative;
    border: 1px solid grey;
    padding: 20px;
}

.plans .card .middle .price {
    margin: 20px 0;
}

.plans .card .middle .price .cost {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 1.1em;
}

.plans .card .middle .price .per {
    color: gray;
}

.plans .card .middle .info {
    margin-top: 40px;
}

.plans .card .middle .limits li {
    display: block;
    margin-top: 10px;
}

.plans .card .middle .limits .icon,
.plans .card .middle .limits .text {
    float: left;
}

.plans .card .middle .limits .icon {
    margin-right: 5px;
}

.plans .card .middle .limits .text {
    width: calc(90% - 5px);
}

.plans .card .middle .try-30-days {
    margin: 20px 0;
}

.plans .card .middle .try-30-days .button {
    text-align: center;
}
.plans .card .middle .try-30-days .button a {
    display: block;
}

.plans .card .middle .try-30-days .text {
    margin: 20px 0;
}

.plans .card .middle .try-30-days .text a {
    text-decoration: underline;
}

.plans .card .middle .try-30-days .separator {
    width: 10%;
    height: 2px;
    margin: 20px 0;
    background-color: lightgray;
}

.plans .card .middle .contact {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
}

.plans .card .middle .features {
    margin: 40px 0;
}
.plans .card .middle .features .list {
    margin: 20px 0;
}

.plans .card .middle .features .list li {
    display: block;
    margin-top: 10px;
}

.plans .card .middle .features .list .icon,
.plans .card .middle .features .list .text {
    float: left;
}

.plans .card .middle .features .list .icon {
    margin-right: 5px;
    color: #0061FF;
}

.plans .card .middle .features .list .text {
    width: calc(90% - 5px);
}
/* /Plans */

/* Partner */

.partner .container{
    margin: 100px 140px;
}

.partner .col-left {
    float: left;
    width: 50%;
}

.partner .col-right {
    float: right;
    width: 50%;
    padding: 40px;
}

.partner .col-left img {
    width: 100%;
}

.partner .col-right p {
    margin: 20px 0;
}

/* Ventaglio */

.dropbox-business .container {
    margin: 100px 140px;
}

.dropbox-business .col {
    float: left;
    width: calc(100% / 3);
    padding: 20px;
}

.dropbox-business .col h3 {
    margin: 20px 0;
}

.dropbox-business .col img {
    width: 100%;
}

/* Clienti */
.clienti .container {
    margin: 100px 140px;
}

.clienti h2 {
    margin-bottom: 20px;
}

.clienti a {
    text-decoration: underline;
}

/* Brands */

.brands .master-col.fl-left {
    float: left;
}

.brands .master-col.fl-right {
    float: right;
}
.brands .master-col  {
    float: left;
    width: calc(100% / 3);
    max-width: calc(1920px / 3);
    min-width: calc(1024px / 3);
}

.brands .col {
    position: relative;
    float: left;
    width: calc(100% / 2);
    height: calc((100vw / 3) / 2);
    max-height: calc((1920px / 3) / 2);
    min-height: calc((1024px / 3) / 2);
}

.brands .col img {
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#designit {
    border: 8px solid #D0E9CD;
    background-color: #A2D39B;
}

#arizona_state_university {
    background-color: #61082B;
}

#university_of_florida {
    background-color: #0093CE;
}

#topps {
    background-color: #FF1C1C;
}