/* Import */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');


/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    max-width: 1920px;
    min-width: 1024px;
    margin: auto;
}

ul {
    display: inline-block;
}

li {
    display: inline-block;
    list-style: none;
}

a {
    text-decoration: none;
    color: #0967FF;
}

/* Clearfix */
.clearfix::after{
    display: table;
    content: "";
    clear: both;
}


/* Buttons */
.btn {
    display: inline-block;
    color: #fff;
    background-color: gray;
    padding: 5px 10px;
    font-weight: bold;
}

.btn.bg-blue {
    background-color: #0061FF;
    color: #fff;
} 

/* Commons */

/* Header */

header {
    position: fixed;
    top: 0;
    left: 50%;
    width: 100%;
    min-width: 1024px;
    max-width: 1920px;
    transform: translate(-50%);
    height: 50px;
    background-color: #fff;
    z-index: 10;
}

header .container {
    height: 100%;
    margin: 0 20px;
}

header .logo {
    float: left;
    line-height: 50px;
}

header .logo img {
    width: 100%;    
    vertical-align: middle;
}

header .nav.fl-left{
    float: left;
    margin: 0 20px;
    line-height: 50px;
}
header .nav.fl-left a {
    vertical-align: middle;
    color: black;
    margin: 0 10px;
}

header .nav.fl-right {
    float: right;
}
header .nav.fl-right ul {
    line-height: 50px;
}

header .nav.fl-right ul a {
    color: black;
    margin: 0 10px;
}

header .nav.fl-right a {
    vertical-align: middle;
}

#btn-inizia {
    margin-left: 20px;
}

/* Main */

main {
    padding-top: 50px;
    background-color: #fff;
}

/* Hero Section */

.hero {
    background-color: #B4D0E7;
    padding-top: 60px;
} 

.hero .container {
    margin: auto 80px;
}

.hero .title {
    font-size: 2rem;
}

.hero .row {
    position: relative;
    bottom: -60px;
}

.hero .description {
    float: left;
    width: 40%;
}

.hero .description .link {
    margin-top: 40px;
    margin-bottom: 10px;
    height: 100%;
}

.hero .description p.annulla {
    text-decoration: underline;
    font-size: 0.9em;
}

.hero .description .fa-arrow-down {
    font-size: 2em;
    margin: 40px 0;
}

.hero .jumbo {
    float: left;
    width: 60%;
}

.hero .jumbo img {
    width: 100%;
}

/* Price Section */
.prices {
    background-color: #fff;
}

.prices .container {
    margin: 200px 140px 0;
    /* background-color: lightcoral; */
}

.prices .title h2 {
    font-size: 2em;
}

.prices .plans {
    margin: 20px 0;
    /* background-color: red; */
}

.prices .cards {
    margin: 40px -20px;
}

.prices .cards .card {
    float: left;
    padding: 0 20px;
    width: calc(100% /3);
    /* background-color: red; */
}

.prices .cards .card .top {
    border: 1px solid grey;
    border-bottom: 0;
    text-align: center;
}

.prices .cards .card .middle {
    border: 1px solid grey;
    padding: 40px;
}

.prices .cards .card .middle .type .price {
    margin-top: 10px;
    font-weight: bold;
}

.prices .cards .card .middle .type .price .per {
    display: inline-block;
    font-weight: normal;
    font-size: 0.9em;
    margin-top: 5px;
}

.prices .cards .card .middle .features {
    font-size: 0.9em;
    margin-top: 20px;
}

.prices .cards .card .middle .features li {
    display: table;
    content: "";
    clear: both;
    margin: 10px 0;
    width: 100%;
}

.prices .cards .card .middle .features i {
    float: left;
    margin-right: 10px;
}

.prices .cards .card .middle .features p {
    width: calc(90% - 10px);
    float: left;
    vertical-align: middle;
}

.prices .cards .card .middle .try a.btn {
    display: block;
    text-align: center;
}

.prices .cards .card .middle .try p.or-buy {
    margin: 20px 0;
    font-size: 0.9em;
}

.prices .cards .card .middle .try hr {
    width: 20%;
    height: 0.5px;
    background-color: gray;
    border: none;
}

.prices .cards .card .middle .p-salienti {
    font-size: 0.9em;
    margin-top: 20px;
}

.prices .cards .card .middle .p-salienti li {
    display: table;
    content: "";
    clear: both;
    margin: 10px 0;
    width: 100%;
}

.prices .cards .card .middle .p-salienti i {
    float: left;
    margin-right: 10px;
    color: #0363FF;
}

.prices .cards .card .middle .p-salienti p {
    width: calc(90% - 10px);
    float: left;
    vertical-align: middle;
}





