/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Clearfix */
.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

/* Common */

li {
    display: inline-block;
    list-style: none;
}

a {
    text-decoration: none;
}


.txt-align-left {text-align: left;}
.txt-align-right {text-align: right;}

.fl-left {float: left;}
.fl-right {float: right;}

.w-50 {width: calc(100% / 2);} 

.container {
    margin: 0 20px;
    height: 100%;
}

.row, .col {
    height: 100%;
}

/* Sections */

body {
    background-color: gray;
}

header {
    height: 50px;
    background-color: #fff;
}

header .logo {
    height: 100%;    
    line-height: 50px;
}

header .logo img {
    width: 100%;    
    vertical-align: middle;
}

header .nav-left {
    height: 100%;
    line-height: 50px;
    margin-left: 40px;
}

header .nav-left a {
    height: 100%;    
    vertical-align: middle;
}

header .nav-right {
    height: 100%;
    line-height: 50px;
}

header .nav-right a {
    height: 100%; 
    vertical-align: middle;
}

